<!DOCTYPE html>
<html>
  <head>
    <title>[Login] Demo App</title>
  </head>
  <body>
    <h1>Login to Demo App</h1>
    <form method="post">
      <label>username
        <input name="username" />
      </label>
      <label>password
        <input name="password" type="password" />
      </label>
      <button type="submit">login</button>
    </form>
  </body>
</html>